* {
  color: red;
  background-color: black;
  }

.Description, ol, ul {
                     color: brown;
                     border: solid 2px;
                     border-color: blueviolet;
                     padding-top: 10px;
                     padding-bottom: 10px;
                     }

p { 
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1px;
  padding-bottom: 1px;      
  }
