body {
    height: 100%;
    background-color: aquamarine;
    }
    
.child-container1, .child-container2, .child-container3 {
                                                         background-color: blueviolet;
                                                         height: 20px;
                                                         width: 20px;
                                                         border: 40px, solid yellow;
                                                         display: flex;
                                                         justify-content: center; 
                                                        }

.flexbox-container {
        background-color: blue;
        color: white;
        display: flex;
        height: 800px;
        flex-direction: row;
        justify-content: space-between;
                   }



