body {
    height: 100%;
    background-color: aquamarine;
    }

.flexbox-container {
        background-color: blue;
        color: white;
        display: flex;
        height: 800px;
        flex-direction: row;
        justify-content: center;
                   }


